#main
{
  text-align: center;
}
#board > table
{
  margin: 0 auto;
}
#board > table th
{
  margin: 0;
  padding: 0.125em 0.25em;
  line-height: 100%;
}
#board > table .cell
{
  background: #090;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  line-height: 0;
}
#board > table .cell > .disc
{
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin: 0.25em;
}
#board > table .cell.white > .disc
{
  background: #fff;
}
#board > table .cell.black > .disc
{
  background: #000;
}
#board > table .cell.puttable > .disc
{
  border: 3px solid #f00;
}
#console > .btn
{
    border: solid #000;
}
